/* Error: "&" may only used at the beginning of a compound selector.
 *    ,
 * 79 |     &&--column{
 *    |      ^
 *    '
 *   portfolio/includes/styleguide/layout/_custom_classes.scss 79:6  @import
 *   portfolio/includes/styleguide/layout/layout.scss 10:9           @import
 *   portfolio/includes/styleguide/styles.scss 3:9                   root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: "&" may only used at the beginning of a compound selector.\a    \2577 \a 79 \2502      &&--column{\a    \2502       ^\a    \2575 \a   portfolio/includes/styleguide/layout/_custom_classes.scss 79:6  @import\a   portfolio/includes/styleguide/layout/layout.scss 10:9           @import\a   portfolio/includes/styleguide/styles.scss 3:9                   root stylesheet';
}
