#classes ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: azure;
}

#classes li{
    display: block;
    color: black;
    text-align: center;
    padding: 5px 8px 5px 8px;
    float: center;  
}

#future li {
    background-color: lightcoral;  
}
#progress li {
    background-color: yellow;
}
#taken li {
    background-color: lightgreen;
}

section {
    padding: 1em;
}
