@charset "UTF-8";
/* This is the "root" level of all our SCSS files */
/*
*
* Global Level Variables
* Can (and should) be used throughout the styleguide .SCSS files
*/
/* Colors
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*$color__black: #000;
$color__blue--light: #9CC0F0;
$color__grey--light: #D3D3D3;
$color__green: #2E9347;
$color__purple: #7B4B94;
$color__red--dark: #B81F24;
$color__white: #FFF;

$color__error: $color__red--dark;*/
/* Fonts
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*$primary-font-family: 'Josefin Sans', sans-serif;
$base-font: 'Josefin Sans', sans-serif;*/
/* Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* --------------------------------------------
    Imports for 3rd-party vendors/libraries
-----------------------------------------------*/
/* --------------------------------------------
    normalize.css

    Makes browsers render all elements more consistently
    and in line with modern standards.
    https://necolas.github.io/normalize.css/
-----------------------------------------------*/
/* --------------------------------------------
    Imports for project styleguide components
    and modules
-----------------------------------------------*/
/*

examples from school project:

_breadcrumbs.scss
_buttons.scss
_pagiation.scss


*/
/* --- Used to resize small images to icon sized  ---*/
.icon_resize--sm {
  max-width: 25px;
  max-height: 25px;
}
.icon_resize--med {
  max-width: 50px;
  max-height: 50px;
}

/*

examples from school project:

_typography.scss

*/
/*@import '';*/
/*

examples from school project:

_grid.scss

*/
h1 {
  font-family: "bubblegum sans", serif;
  color: darkblue;
}

h2, h3, em {
  font-family: "itim", serif;
  padding: 0.5em 0;
}

main {
  background-color: darkcyan;
}

section {
  background-color: whitesmoke;
  border-radius: 1em;
  margin: 1em 0 0 0;
}

footer {
  background-color: darkcyan;
}

/*

examples from school project:

_customer-service.scss	
_homepage.scss
_product-description.scss	
_product-list.scss	
_site-footer.scss	
_site-header.scss	
_styleguide.scss	
modules.scss	
shopping-bag.scss

*/
.courses ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*background-color: azure;*/
}
.courses li {
  display: block;
  color: black;
  text-align: center;
  padding: 5px 8px 5px 8px;
  float: center;
}

.homepage section {
  padding: 1em;
}

.gradient_title {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(lightcyan, darkcyan);
  border-style: solid;
  border-color: black;
  border-width: 0 0 3px 0;
  flex-direction: column;
}

.preview, .reflection, .requirements {
  background-color: lightgray;
  padding: 0.5em;
  border-radius: 1em;
}

.preview, .reflection {
  margin: 0 0 1em 0.1em;
}

.requirements {
  margin: 0 0 1em 0;
}

.raw_code_container {
  background: linear-gradient(turquoise, darkturquoise);
  text-align: center;
}

.raw_code_container pre {
  display: inline-block;
  text-align: left;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  padding: 2em;
  border-radius: 1em;
}

/*

examples from school project:

_borders.scss
_colors.scss

*/
.bg--red {
  background-color: lightcoral;
}

.bg--yellow {
  background-color: yellow;
}

.bg--green {
  background-color: lightgreen;
}

/*Examples for future*/
/* Utilities > Colors
.u-color {
    &--black        { color: $color__black; }
    &--blue-light   { color: $color__blue--light; }
    &--error        { color: $color__error; }
    &--grey-light   { color: $color__grey--light; }
    &--green        { color: $color__green; }
    &--purple       { color: $color__purple; }
    &--red-dark     { color: $color__red--dark; }
    &--white        { color: $color__white; }
}

.u-bg-color {
    &--black        { background-color: $color__black; }
    &--blue-light   { background-color: $color__blue--light; }
    &--error        { background-color: $color__error; }
    &--grey-light   { background-color: $color__grey--light; }
    &--green        { background-color: $color__green; }
    &--purple       { background-color: $color__purple; }
    &--red-dark     { background-color: $color__red--dark; }
    &--white        { background-color: $color__white; }
}*/

/*# sourceMappingURL=styles.css.map */
