h1 {
    font-family: "bubblegum sans", serif;
    color: darkblue;
}

#welcome-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(lightcyan, darkcyan);
    border-style: solid;
    border-color: black;
    border-width: 0 0 3px 0;
    flex-direction: column;
}

section {
    background-color: whitesmoke;
    border-radius: 1em;
    margin: 1em 0 0 0;
}

main {
    background-color: darkcyan;
}

footer {
    background-color: darkcyan;
}

h2, h3, em {
    font-family: "itim", serif;
    padding: 0.5em 0;
}

.preview, .reflection, .requirements {
    background-color: lightgray;
    padding: 0.5em;
    border-radius: 1em;
}

.preview, .reflection {
    margin: 0 0 1em 0.1em; 
}

.requirements {
    margin: 0 0 1em 0;
}
