.courses {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: azure;
    }
    .list {
        display: block;
        color: black;
        text-align: center;
        padding: 5px 8px 5px 8px;
        float: center;  
        &--red {
            background-color: lightcoral;
        }
        &--yellow {
            background-color: yellow;
        }
        &--green {
            background-color: lightgreen;
        }
    }
}