.preview, .reflection, .requirements {
    background-color: lightgray;
    padding: 0.5em;
    border-radius: 1em;
}

.preview, .reflection {
    margin: 0 0 1em 0.1em; 
}

.requirements {
    margin: 0 0 1em 0;
}