h1 {
    font-family: "bubblegum sans", serif;
    color: darkblue;
}

h2, h3, em {
    font-family: "itim", serif;
    padding: 0.5em 0;
}

main {
    background-color: darkcyan;
}

section {
    background-color: whitesmoke;
    border-radius: 1em;
    margin: 1em 0 0 0;
}

footer {
    background-color: #f8f9fa;
}