h1 {
    font-family: "bubblegum sans", serif;
    color: darkblue;
}

h2, h3, em {
    font-family: "itim", serif;
    padding: 0.5em 0;
}

main {
    background-color: darkcyan;
    padding: 0 0 25px 0;
}

section {
    background-color: whitesmoke;
    border-radius: 1em;
    margin: 1em 0 0 0;
}

footer {
    background-color: #f8f9fa;
    padding: 10px 0;
}

a {
    color: black !important;
}

h1 a {
    color: darkblue !important;
}

a:hover {
    text-decoration: none !important;
}