.courses {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        /*background-color: azure;*/
    }

    li {
        display: block;
        color: black;
        text-align: center;
        padding: 5px 8px 5px 8px;
        float: center;  
    }
}

.gradient_title {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(lightcyan, darkcyan);
    border-style: solid;
    border-color: black;
    border-width: 0 0 3px 0;
    flex-direction: column;
}

.homepage {
    section {
        padding: 1em;
    }
}

.preview, .reflection, .requirements {
    background-color: lightgray;
    padding: 0.5em;
    border-radius: 1em;
}

.preview, .reflection {
    margin: 0 0 1em 0.1em; 
}

.requirements {
    margin: 0 0 1em 0;
}


.raw_code_container {
    background: linear-gradient(turquoise, darkturquoise);
    text-align: center;
}

.raw_code_container pre {
    display: inline-block; 
    text-align: left; 
    border-style: solid; 
    border-color: black; 
    border-width: 1px; 
    padding: 2em; 
    border-radius: 1em;
}

.icon_resize {
    &--sm {
        max-width: 25px;
        max-height: 25px; 
    }
    &--med {
         max-width: 50px;
        max-height: 50px; 
    }
}

.flex{
    &--column{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &--row{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (max-width: 968px){
    .desktop-tablet-nav{
        display: none !important;
    }
}
@media only screen and (min-width: 969px){
    .mobile-nav{
        display: none !important;
    }
}

.sticky_menu {
    background-color: #f8f9fa80 !important;
    position: fixed;
    z-index: 1000;
    top: 0;
}

.full-width {
    width: 100% !important;
}

.text-black {
    color: black !important;
}

.list-style--none{
    list-style: none !important;
}

.hover_underline_animation {
    display: inline-block;
    position: relative;
}

.hover_underline_animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: darkcyan !important;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover_underline_animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}